button.btn.btn-default {
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	height: 100px;
	background-color: #da2727;
	color: white;
}

div.btn-group {
	background-color: #9e8d8d;
}

.btn-group>.btn:first-child {
	margin-left: 10px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
	overflow: hidden;
}

.clearfix {
	zoom: 1;
}

#menu td {
	border-color: #eee;
	border-width: 2px;
	border-style: solid;
	border-top-width: 5px;
	border-right-width: 5px;
	border-bottom-width: 5px;
	border-left-width: 5px;
}
button a{
	color: white;
}
.num{
	background-color: red;width:30px;text-align: center;border-radius:50px;display: inline-block;color: white;margin-left: 5px;
}
#kj{
	width: 100%;
}